/* Start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-color:#F6F6F6;
    --section-padding:60px;

}

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans" , sans-serif;
}
.container {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .container{width: 550px;} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .container{width: 750px;} }

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .container{width: 970px;} }

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .container{width: 1170px;} }
/* End global rules */

/* Start Header */
.header {
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links:hover .icon span:nth-child(2){
width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-color);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none; 
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
    color: #333;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start landing section  */
.landing{
background-image:url(../images/686930.jpg);
height: calc(100vh - 64px);
position: relative;
background-size: cover;

}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform:translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    margin: 0;

}
.landing .intro-text h1 {
    font-size: 50px;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End landing section  */
/* Start feature section  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);

}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300PX, 1fr));
    grid-gap: 20px;
}
.features .feat {
    text-align: center;
    padding: 20px;
}
.features .feat p {
    line-height: 1.8;
    font-size: 17px;
}
.features .feat i {
    color:var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin:30px 0;
}

/* End feature section  */

/* start services section  */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container  .special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.services .container .special-p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px;
}
.services .serv-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    margin-top: 100px;
    grid-gap: 30px;
}
.services .serv-content .serv {
display: flex;
margin-bottom: 40px;
}

.services .serv-content .serv  i {
color: var(--main-color);
flex-basis: 60px;
}
.services .serv-content .serv  .text { flex:1;
}


@media (max-width:767px){
    .services .serv-content .serv {
    flex-direction: column;
    text-align: center;
    }
}
    .services .serv-content .serv  h3{
        margin:0 0 20px;
    }

    .services .serv-content .serv  p{
color:#333;
font-weight: 300;
line-height: 1.8;
    }
.services .serv-content .image {
    text-align: center;
    position: relative;

}
.services  img{
    width: 260px;
}
.services .serv-content .image::before{
    content:"";
    position: absolute;
    background-color:var(--secondary-color);
    height: calc(100% + 100px);
    width: 80px;
    right: 10px;;
    top: -50px; ;
    z-index: -1;
}
@media (max-width:1199px){
.services .image {
    display: none;
}
}

/* end services section  */

/* star portfolio section  */
.portf {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.portf .container  .portf-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.portf .container .portf-p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px;
}
.portf .portf-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portf img {
    max-width: 100%;
}
.portf .portf-text p {
    color:#333;
font-weight: 300;
line-height: 1.8;
}
.portf .portf-text h3 {
    padding-top: 20px;
}
.portf .portf-text {
    background-color: white;
    padding:0 15px 5px 15px;
    top:-40px;
    position: relative;
}

/* end portfolio section  */

/* start about section  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .container .about-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.about .container .about-p  {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.about .text {
    flex-basis:  calc(100% - 500px);
    }
.about .image img {
    max-width: 100%;
}
.about .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .image::before{
content: "";
position: absolute;
background-color: #ebeced;
width: 100px;
height:calc(100% + 80px) ;
z-index: -1;
top: -40px;
left: -20px;


}
.about .image::after{
    content: "";
    position: absolute;
    width:120px ;
    height:300px ;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top:-40px;
    right: -150px;

}
.about .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .text p:last-of-type {
    line-height: 2;
    color: #777;
}
.about hr {
    width :50%;
    display: inline-block;
    border-color: var(--main-color);

}
@media (max-width:990px){
    .about .image::after{
        display: none;
    }
    .about .image::before{
        display: none;
    }
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .image {
        margin: 0 auto 60px;
    }
}

/* end about section  */



